<html>
<head>
    <title>Perfil</title>
</head>
<body>
<h1>Hola {{usuario}} </h1>   
<p style="margin-top: 25px">Productos<br>
        <a class="navbar-brand" href="/Productos">
        <img src="../static/img/game.svg" width="30" height="30" class="d-inline-block align-top" alt='Logo Boostrap'>
        </a>  
 <p style="margin-top: 25px">cerrar sesion?<br>
        <a class="navbar-brand" href="/Exit">
        <img src="../static/img/cry.svg" width="30" height="30" class="d-inline-block align-top" alt='Logo Boostrap'>
        </a>     
</body>
    
</html>