<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body style="background-color: #2b2d42">
    <div class="card" style="background-color: #8d99ae">
        <div class="card-body" style="padding: 145px;margin: 77px; background-color: #fefae0">
            <h4 class="card-title">Registro exitoso</h4>
            <p class="card-text">Hola {{usuario.0.0}} , podràs ingresar con el id: {{id.0.0}} y tu contraseñas.</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/login">
            <img src="../static/img/login.svg" width="30" height="30" class="d-inline-block align-top" alt='Logo Boostrap'>
            </a>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>